.knob {
  background: black;
  border-radius: 50%;
  position: relative;
}

.knob::before {
  content: "";
  top: 10%;
  width: 4%;
  height: 30%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background-color: white;
  border-radius: 10%;
}

.knob-input {
  width: 100px;
  height: 10px;
}
